@using DemoRegistrationEncryptionUsingRandomNumberAndSalt.Provider;
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims;
@inject AuthenticationStateProvider authStateProvider
@inherits LayoutComponentBase;
@inject ILocalStorageService localStorageService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    @context!.User!.Identity!.Name
                    <a @onclick="Logout" href="registration">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="registration">Register</a>
                    <a href="login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private async void Logout()
    {
        await localStorageService.RemoveItemAsync("UserData");
        var cs = (CustomAuthenticationStateProvider)authStateProvider;
        cs.NotifyAuthenticationState();
    }
}